* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 20px;
  border: 2px dotted black;
  border-radius: 15px;
  background-color: lightyellow;
}

.shell-header {
  display: flex;
  justify-content: center;
  margin: 20px;
}